.dark[app-theme] {
 --primary-background: linear-gradient(191.18deg, #27242c 61.33%, #0c0b0e 101.43%);
 --primary-color: #fe3c72;
 --secondary-color: rgba(255, 255, 255, 0.7);
 --tertiary-color: rgba(255, 255, 255, 0.5);
}
