.light[app-theme] {
   --primary-color: #fe3c72;
  --secondary-color: rgba(0, 0, 0, 0.7);
 --tertiary-color: rgba(0,0, 0, 0.5);
  --primary-background: linear-gradient(191.18deg, #27242c 61.33%, #0c0b0e 101.43%);
}
